<div class="app-table-wrapper">
    <div class="app-table-header" [style.width]="totalWidth">
        <th *ngFor="let column of columns" [style.width]="column.width + 'px'">{{column.title}}</th>
    </div>
    <div class="app-table" #appTable [style.width]="totalWidth">
        <tbody class="app-table-body">
            <tr class="app-table-row" *ngFor="let item of getPageData()" [style.width]="totalWidth">
                <td class="app-table-column" *ngFor="let column of columns" [style.width]="column.width + 'px'">
                    <div *ngIf="!column.component">{{item[column.id]}}</div>
                    <app-renderer *ngIf="column.component" [component]="column.component" [data]="item"></app-renderer>
                </td>
            </tr>
        </tbody>
    </div>
</div>

<div class="app-table-controls">
    <div>
        <label for="pageSize">Page Size: </label>
        <select name="pageSize" (change)="setPageSize($event.target.value)">
            <option value="10">10</option>
            <option selected="" value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>

    <div class="btn" (click)="pageBack()">Back</div>
    
    <div class="btn" (click)="pageForward()">Next</div>

    <div>
        <label for="page">Page: </label>
        <select name="page" (change)="setPage($event.target.value)">
            <option *ngFor="let p of getPages()" [value]="p" [selected]="page == p">{{p}}</option>
        </select>
    </div>

</div>