.app-table-wrapper {
    overflow: auto;
    height: 90%;
    width: 100%;
}

.app-table {
    display: flex;
    flex-direction: column;
    width: 0;
    height: 80%;
    overflow: auto;
    text-align: center;
    tr {
        display: flex;
        flex-direction: row;
    }
    td {
        display: block;
        white-space: wrap;
        word-break: break-all;
    }
}

.app-table-header {
    height: 5%;
    overflow: auto;
    padding: 2.5% 0;
}

.app-table-column {
    // display: block;
    width: 0;
}
.app-table-controls {
    height: 5%;
    padding: 2.5% 10% 2.5% 4%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .btn {
        cursor: pointer;
    }
}